TestResults

*.suo
/TestResults
.vs
obj
Reports
Screenshots
*.tmp
/AutomationFramework/packages/NUnit.ConsoleRunner.3.8.0/tools/TestResult.xml
/AutomationFramework/SDemo.playlist
AutomationFramework.dll
AutomationFramework.pdb
*.log
TC_MobLogin20180425T120939.jpeg
VideoRecording
Debug
FailedTest
/AutomationFramework/AutomationFramework/tests/WebTests/Login/Class1.cs
/AutomationFramework/packages/NUnit.Extension.TeamCityEventListener.1.0.4/CHANGES.txt
/AutomationFramework/packages/NUnit.Extension.TeamCityEventListener.1.0.4/LICENSE.txt
/AutomationFramework/packages/NUnit.Extension.TeamCityEventListener.1.0.4/NUnit.Extension.TeamCityEventListener.1.0.4.nupkg
/AutomationFramework/packages/NUnit.Extension.TeamCityEventListener.1.0.4/tools/teamcity-event-listener.dll
/TestCaseFiles/Trackers.txt
/TestCaseFiles/testf1.txt
tempforpdf
