 <appSettings>
  
  <!--******************* Application Under Test configurations *******************--> 
  <add key="baseurl" value="https://onlifehealth.com"/>   
  <add key="application" value="LiveOn"/>
  <add key="reportpath" value=".\AutomationFramework\Reports\"/>
  <add key="TestStatScrnshot" value="Failed"/>
  <add key="platform" value="Win"/>
  <add key="browser" value="Chrome"/>
  <add key="environment" value="prod"/>
  <add key="clientname" value="health trust"/>
   
  <!--******************* User Details *******************--> 
  <add key="isregistered" value="true"/>
  <add key="actorid" value="10659864"/> 
  <add key="username" value="OnlifeHeal_896612754-1"/> 
  <add key="password" value="Password1"/>
  <add key="firstname" value="Shane"/>
  <add key="lastname" value="Ferguson"/>
  <add key="email" value="ATest_MedicareAd_774350363-1@onlifehealth.com"/>
  <add key="dob" value="9/6/1954"/>
  <add key="zipcode" value="57105"/>
  <add key="popseg1" value="03987"/>
  <add key="ssn" value="938857647"/>
  <add key="username2" value="HealthTrus_779990315-1"/>   
  <add key="FirstNameUser2" value="Eugenio"/>
  <add key="LastNameUser2" value="House"/>
  <add key="emailid" value="ATest_HealthTrus_779990315-1@onlifehealth.com"/>
  
  <!--******************* SQL Connectivity configurations *******************--> 
   <add key="servername" value="QA-SQL02.OLH.LOCAL,55202"/>
   <add key="sqlusername" value="app_Ranotool"/>
   <add key="sqlpassword" value="/5jnV2'Cub+V"/>
   
  <!--******************* Video Recording configurations *******************--> 
   <add key="recordingpath" value="VideoRecording\"/>
   <add key="setvideorecording" value="false"/>
   
  <!--******************* Selenium Grid configurations *******************-->    
   <add key="useseleniumgrid" value="false"/>
   <add key="webdriverhost" value="localhost"/> <!-- Selenium Node IP -->
   <add key="webdriverport" value="5555"/> <!-- Selenium Node Port -->
   
  <!--******************* Mobile / Appium configurations *******************-->
   <!--************* Appium Server configurations ************-->
   <!-- Appium Server IP -->
   <!--<add key="address" value="192.168.100.33"/>--> <!--Mac IP for iOS Automation-->
   <add key="address" value="127.0.0.1"/>
   <!-- Appium Server Port -->
   <add key="port" value="4444"/>
   
   <!--************* App configurations ************-->
   <add key="apploc" value="/Users/qa/Desktop/AlwaysOn.ipa"/> <!-- iOS App location on MAC-->
   <!--<add key="apploc" value="Resources/AlwaysOnApp/ServicePack/servicepack.apk"/> --><!-- Android App location-->

   <!--Android Configs-->
   <!--<add key="apppackage" value="com.onlife.alwayson.debug.feature"/> --><!--Feature AppPackage-->  
   <add key="apppackage" value="com.onlife.alwayson.debug.ServicePack"/> <!--ServicePack AppPackage-->  
   <add key="appactivity" value="com.onlife.alwayson.login.LoginActivity"/>
   
   <!--iOS Configs-->
   <add key="bundleid" value="com.onlifehealth.AlwaysOnOLHQA"/>
   <!--<add key="xcodeOrgId" value=""/>-->
   
   <!--********** Device configurations ***********-->
   <add key="os" value="Android"/>
   <!---->
    <!--<add key="version" value="11.4"/>
    <add key="devicename" value="Skytester's iPhone"/>-->

   <!--Iphone 5s-->
   <!--<add key="udid" value="26ece7b02c8c1996a08435d7024de4012b249bf1"/>-->
   
   <!--Iphone 6s-->
   <add key="udid" value="8aa1f613aec123ba06c7438c447590250b899d83"/>
   
   <!---->
   <!--Samsung S5-->
    <!--<add key="version" value="6.0.1"/>
    <add key="devicename" value="SM-G900V"/>-->
   <!---->
   <!--Samsung S6-->
    <!--<add key="version" value="7.0"/>
    <add key="devicename" value="SM-G920V"/>-->    
   <!---->
   <!--Samsung S7 Edge-->
    <add key="version" value="7.0"/>
    <add key="devicename" value="SM-G935V"/>

</appSettings>